# Excluded files
/.idea
/.vscode
/.git
/public/storage
/bootstrap/cache/*
/storage/app/*
/storage/framework/views/*
/storage/logs/*
/tests
/vendor
/node_modules
.dockerignore
.editorconfig
.gitattributes
.gitignore
compose.*.yaml
Dockerfile
.npm
.composer
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
